.vs
bin/intermediates
test/bin/intermediates
test/bin/Win32/Debug
bin/Win32/Debug
bin/x64/Debug
test/bin/x64/Debug
Block Forge.sln.DotSettings.user
docs
test/*.pdb
test/*.ilk
test/*.testdurations
test/*.exe
lib/glfw/build_Win32
lib/glfw/build_x64
