.vs
bin
docs
test/bin
test/*.pdb
test/*.ilk
test/*.testdurations
test/*.exe
test/*.dll
test/*.exp
test/*.lib
test/out
lib/glfw/build_Win32
lib/glfw/build_x64
Block Forge.sln.DotSettings.user
*.ilk
*.pdb
out
