[submodule "lib/doxygen-awesome-css"]
	path = lib/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui
[submodule "lib/glad"]
	path = lib/glad
	url = https://github.com/Dav1dde/glad
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb
[submodule "lib/FastNoise2"]
	path = lib/FastNoise2
	url = https://github.com/Auburn/FastNoise2
[submodule "lib/glText"]
	path = lib/glText
	url = https://github.com/vallentin/glText
[submodule "lib/robin-hood-hashing"]
	path = lib/robin-hood-hashing
	url = https://github.com/martinus/robin-hood-hashing
[submodule "lib/SPSCQueue"]
	path = lib/SPSCQueue
	url = https://github.com/rigtorp/SPSCQueue
[submodule "lib/ninja"]
	path = lib/ninja
	url = https://github.com/ninja-build/ninja
