[submodule "lib/doxygen-awesome-css"]
	path = lib/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui
[submodule "lib/glad"]
	path = lib/glad
	url = https://github.com/Dav1dde/glad
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm
